.c-page_contact {
	padding: 0 0 110px 0;

	@include is-max(768px) {
		padding: 0 0 60px 0;
	}

	@include is-sp {
		padding: 0;
	}

	.l-wrap {
		position: relative;

		@include is-sp {
			padding-left: 8px;
			padding-right: 8px;
		}

		.cont_clouds {
			img {
				&:nth-of-type(1) {
					width: 180px;
					position: absolute;
					left: 150px;
					bottom: 40px;
					animation: cloud 35s linear infinite both;
					@keyframes cloud {
						0% {
							left: 0%;
						}
						100% {
							left: 100%;
						}
					}

					@include is-max(768px) {
						left: 20px;
					}
				}

				&:nth-of-type(2) {
					width: 180px;
					position: absolute;
					left: 150px;
					top: 105px;
					animation: cloud-contact1 2.5s ease-in infinite alternate both;

					@include is-max(768px) {
						left: 20px;
					}
				}

				@keyframes cloud-contact1 {
					0% {
						transform: translate(0px, -20px);
					}
					100% {
						transform: translate(0px, 0px);
					}
				}

				&:nth-of-type(3) {
					width: 275px;
					position: absolute;
					right: 0;
					top: 190px;
					z-index: -1;
					animation: cloud-contact 2.5s ease-in infinite alternate both;

					@include is-max(768px) {
						right: 20px;
					}
				}

				@keyframes cloud-contact {
					0% {
						transform: translate(2px, 30px);
					}
					100% {
						transform: translate(-2px, 0px);
					}
				}
			}

			@include is-sp {
				display: none;
			}
		}
	}

	&__faq {
		max-width: 800px;
		margin: 0 auto;
		padding: 185px 0 145px 0;

		@include is-sp {
			padding: 100px 0 115px 0;
		}

		&--ttl {
			color: $color-text01;
			text-align: center;
			font-family: "santa_fe", sans-serif;
			line-height: 1;
			background-color: rgba(235, 110, 82, 0.7);
			width: fit-content;
			margin: 0 auto;

			@include font-line(80, 92);
		}

		&--sub {
			font-weight: 700;
			text-align: center;

			@include font-line(16);
		}

		.contact_content {
			display: flex;
			padding: 20px 0;
			flex-wrap: wrap;

			@include is-max(800px) {
				padding: 20px 10px;
			}

			@include is-sp {
				padding: 20px 0;
			}

			.contact-woman {
				width: 70px;
				height: auto;

				@include is-sp {
					width: 40px;
				}
			}
			.contact-man {
				width: 70px;
				height: auto;

				@include is-sp {
					width: 40px;
				}
			}
			.contact-man-2 {
				width: 70px;
				height: auto;

				@include is-sp {
					width: 40px;
				}
			}

			&__item {
				display: flex;

				&:nth-of-type(odd) {
					width: 100%;
					align-items: start;

					.convo {
						background: #000;
						border-radius: 50px;
						color: $color-text01;
						font-weight: 700;
						margin-top: 35px;
						margin-left: 10px;
						padding: 40px 0 35px 40px;
						position: relative;
						text-align: justify;
						width: 640px;

						@include is-max(800px) {
							margin-top: 45px;
							padding: 35px 0 35px 40px;
						}

						@include font-line(18);

						@include is-max(600px) {
							width: 400px;
						}

						@include is-sp {
							width: 500px;
						}

						@include is-max(430px) {
							width: 300px;
						}

						@include is-max(380px) {
							width: 260px;
						}

						&::after {
							content: "";
							width: 50px;
							height: 45px;
							background-color: #000;
							display: block;
							position: absolute;
							top: 0;
							left: 0;
						}

						@include is-sp {
							padding: 40px 40px 35px 40px;
						}
					}
				}

				&:nth-of-type(even) {
					width: 100%;
					justify-content: flex-end;
					align-items: start;

					.convo {
						background: #fff;
						border-radius: 50px;
						color: $color-text-default;
						font-weight: 700;
						margin-top: 30px;
						margin-right: 10px;
						padding: 40px 40px 35px 40px;
						position: relative;
						text-align: justify;
						width: 640px;

						@include font-line(18);

						@include is-max(800px) {
							margin-top: 45px;
						}

						@include is-max(600px) {
							width: 400px;
						}

						@include is-sp {
							width: 500px;
						}

						@include is-max(430px) {
							width: 300px;
						}

						@include is-max(380px) {
							width: 260px;
						}

						&::after {
							content: "";
							width: 50px;
							height: 50px;
							background-color: #fff;
							display: block;
							position: absolute;
							top: 0;
							right: 0;
							z-index: -1;
						}
					}
				}

				&:nth-of-type(3) {
					padding: 45px 0 0 0;

					@include is-sp {
						padding: 80px 0 0 0;
					}
				}

				&:nth-of-type(5) {
					padding: 45px 0 0 0;

					@include is-sp {
						padding: 80px 0 0 0;
					}
				}

				&:nth-of-type(7) {
					padding: 45px 0 0 0;

					@include is-sp {
						padding: 80px 0 0 0;
					}
				}
			}
		}
	}

	&__contact {
		max-width: 640px;
		margin: 0 auto;
		padding: 105px 0 0 0;

		@include is-sp {
			padding: 0 25px;
		}

		&--ttl {
			color: $color-text01;
			font-family: "santa_fe", sans-serif;
			font-weight: 400;
			line-height: 1;
			text-align: center;

			@include font-line(80);
		}

		&--sub {
			font-weight: 800;
			text-align: center;

			@include font-line(16);
		}

		.wpcf7 {
			padding: 55px 0 0 0;
		}

		.wpcf7c-conf {
			background-color: rgb(232, 240, 254);
		}

		.wpcf7 form .wpcf7-response-output {
			margin: 30px auto 0 auto;
		}

		.form-group {
			display: flex;
			justify-content: space-between;
			padding-bottom: 40px;
			flex-wrap: wrap;

			&:nth-of-type(1) {
				padding: 55px 0 40px 0;
			}

			&:nth-of-type(6) {
				.row_2 {
					span {
						input[type="text"] {
							margin-bottom: 10px;
						}

						&:nth-of-type(1) {
							input[type="text"] {
								width: 200px;
								margin-bottom: 10px;
							}
						}

						&:nth-of-type(2) {
							input[type="text"] {
								width: 200px;
								margin-bottom: 10px;
							}
						}
					}
				}
			}

			&:nth-of-type(8) {
				@include is-max(768px) {
					padding-bottom: 0;
				}
				@include is-sp {
					padding-bottom: 0;
				}
			}

			.row_1 {
				width: calc(100% - 400px);
				padding-bottom: 20px;

				@include is-sp {
					width: 100%;
				}
				p {
					color: $color-text01;
					font-weight: 700;
					line-height: 1;

					@include font-line(24);
				}

				span {
					color: $color-text01;
					font-weight: 400;
					vertical-align: top;

					@include font-line(14);
				}
			}

			.row_2 {
				width: 400px;

				@include is-sp {
					width: 100%;
				}

				input[type="text"],
				input[type="email"],
				input[type="tel"],
				select,
				textarea {
					border: none;
					width: 100%;
					padding: 15px 0 15px 20px;
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 400;
					text-align: justify;
					padding-right: 20px;

					@include font-line(16);

					&::placeholder {
						color: #a0a0a0;
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 400;

						@include font-line(16);
					}
				}

				select {
					display: block;
					color: #000;
					border: none;
					-moz-appearance: none;
					-webkit-appearance: none;
					background: #fff;
					background-image: url("../image/page/arrow_d.svg");
					background-repeat: no-repeat;
					background-position: center right 20px;
					background-size: 16px;
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 500;
					line-height: 1;

					&:disabled {
						background-color: #e8f0fe;
						opacity: 1;
						color: #000;
					}
				}
			}
		}
	}
}
