.sect_4 {
	padding: 60px 0;
	position: relative;

	.l-wrap {
		position: relative;

		.cloud {
			@include is-sp {
				display: none;
			}

			img {
				position: absolute;

				&:nth-of-type(1) {
					width: 180px;
					top: 50%;
					left: 0;
					z-index: -1;
				}

				&:nth-of-type(2) {
					width: 98px;
					top: 80%;
					left: 0;
				}

				&:nth-of-type(3) {
					width: 98px;
					top: 50%;
					right: 0;
				}

				&:nth-of-type(4) {
					width: 165px;
					top: 80%;
					right: 0;
				}
			}
		}
	}

	.nav {
		position: fixed;
		bottom: 0;
		left: 0;
		display: none;
		z-index: 9999;

		@include is-sp {
			display: flex;
		}

		.hamburger {
			width: 80px;
			height: 80px;
			background-color: $color-text-default;
			position: relative;
			padding: 30px 20px;

			span {
				display: block;
				width: 40px;
				height: 3px;
				margin-bottom: 12px;
				position: relative;
				background: #fff;
				z-index: 1;
				transform-origin: 4px 0px;
				transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
					background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
			}
		}

		.entry {
			align-items: center;
			background-color: #19bebe;
			display: flex;
			padding-left: 25px;
			padding-right: 18px;
			padding-top: 25px;
			padding-bottom: 25px;

			img {
				width: 43px;
			}

			p {
				font-family: oswald, sans-serif;
				font-weight: 600;
				line-height: 1;
				padding-right: 13px;

				@include font-line(20);
			}
		}
	}

	&__content {
		max-width: 690px;
		margin: 0 auto;
	}
	&__ttl {
		color: $color-text01;
		font-family: "santa_fe", sans-serif;
		font-weight: 400;
		text-align: center;
		padding: 0 0 40px 0;

		@include font-line(80, 90);

		@include is-sp {
			font-size: 20vw;
		}
	}

	&__information {
		text-align: center;
		max-width: 600px;
		background-image: url("../image/top/sect_4_bg.png");
		background-repeat: no-repeat;
		background-size: 100%;
		background-position: center center;
		margin: 0 auto;
		padding: 0 80px 70px 80px;

		@include is-sp {
			background-image: none;
			padding: 0;
		}

		.ttl {
			color: $color-text01;
			font-family: noto-sans-cjk-jp, sans-serif;
			font-weight: 700;
			padding: 50px 0 40px 0;

			@include font-line(24);
		}

		.desc {
			color: $color-text-default;
			font-family: noto-sans-cjk-jp, sans-serif;
			font-weight: 400;
			text-align: left;

			@include font-line(16);
		}
	}
}
