.sect_2 {
	padding: 85px 0 0 0;

	@include is-sp {
		padding: 40px 0 0 0;
	}

	.l-wrap {
		max-width: 1100px;
	}

	&__row_1 {
		display: flex;

		@include is-sp {
			flex-wrap: wrap;
		}

		.item-1 {
			width: 515px;
			position: relative;

			@include is-sp {
				width: 100%;
				order: 2;
				padding: 75px 0 0 0;
				left: -45px;
			}

			.bg_img {
				position: relative;

				img {
					&:nth-of-type(1) {
						@include is-sp {
							display: none;
						}
					}
					&:nth-of-type(2) {
						display: none;

						@include is-sp {
							display: block;
						}
					}
				}
			}

			.woman {
				position: absolute;
				top: -10px;
				left: 30px;
				bottom: 0;

				@include is-sp {
					width: 102px;
					left: 20px;
					top: 60%;
				}
			}

			.text {
				position: absolute;
				right: 20px;
				top: 40%;
				transform: translate(-10%, -50%);

				@include is-sp {
					top: 60%;
				}

				.ttl {
					color: $color-text01;
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					line-height: normal;

					@include font-line(34);
				}

				.button {
					display: flex;
					align-items: center;
					justify-content: center;
					padding: 20px 0 0 0;

					p {
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 700;
						padding: 0 10px 0 0;

						@include font-line(16);
					}
					img {
						width: 30px;
						height: auto;
						position: static;
					}
				}
			}
		}

		.item-2 {
			width: calc(100% - 515px);
			display: flex;
			align-items: center;
			margin: 0 0 0 35px;

			@include is-sp {
				width: 100%;
				margin: 0;
				flex-wrap: wrap;
				justify-content: center;
				order: 1;
			}

			.text {
				padding: 0 0 0 20px;

				@include is-sp {
					padding: 0;
				}

				.message {
					color: $color-text01;
					font-family: "santa_fe", sans-serif;
					font-weight: 400;
					line-height: normal;

					@include font-line(80);

					span {
						color: $color-text-default;
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 700;
						padding: 0 0 0 20px;

						@include font-line(16);
					}
				}

				.desc {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 400;
					text-align: justify;
					padding: 30px 0 0 0;

					@include font-line(16);
				}
			}
		}
	}

	&__row_2 {
		padding: 15px 0 0 0;

		.l-wrap {
			position: relative;
			padding-left: 0;
			padding-right: 0;
		}

		&--content {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;

			.row-1 {
				display: flex;
				align-items: flex-end;
				width: 280px;
				height: auto;

				@include is-sp {
					align-items: initial;
					margin-left: auto;
					padding: 50px 0;
				}

				img {
					position: relative;
					left: -40px;

					@include is-sp {
						left: 0;
						right: 0;
					}
				}
			}

			.row-2 {
				width: 515px;
				position: relative;

				@include is-sp {
					width: 100%;
				}

				img {
					position: relative;

					&:first-child {
						@include is-sp {
							display: none;
						}
					}

					&:nth-of-type(2) {
						display: none;

						@include is-sp {
							display: block;
							width: 100%;
						}
					}
				}

				.text {
					position: absolute;
					top: 50%;
					left: 30%;
					transform: translate(-20%, -50%);

					.ttl {
						color: $color-text01;
						font-family: "santa_fe", sans-serif;
						font-weight: 400;
						line-height: normal;

						@include font-line(80);

						span {
							color: $color-text-default;
							font-family: noto-sans-cjk-jp, sans-serif;
							font-weight: 700;
							padding: 0 0 0 20px;

							@include font-line(16);
						}
					}

					.desc {
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 400;
						color: #fff;

						@include font-line(16);
					}

					.btn {
						display: flex;
						justify-content: flex-end;
						p {
							font-family: noto-sans-cjk-jp, sans-serif;
							font-weight: 700;
							padding: 0 10px 0 0;

							@include font-line(16);
						}
						img {
							width: 30px;
							height: auto;
						}
					}
				}
			}

			.row-3 {
				width: 280px;

				@include is-sp {
					width: 100%;
					padding: 50px 0 0 0;
				}

				img {
					position: relative;
					left: 40px;

					@include is-sp {
						left: 0;
						margin-right: auto;
						display: block;
					}
				}
			}
		}

		&--content-2 {
			display: flex;
			padding: 60px 0 0 0;
			flex-wrap: wrap;

			.row-1 {
				width: 280px;

				@include is-sp {
					width: 100%;
					order: 2;
					padding: 50px 0 0 0;
				}

				img {
					position: relative;
					left: -26px;

					@include is-sp {
						left: 0;
						margin-left: auto;
						display: block;
					}
				}
			}

			.row-2 {
				padding: 0 0 0 200px;
				position: relative;

				@include is-sp {
					order: 1;
					padding: 0;
				}

				img {
					width: 515px;

					&:first-child {
						@include is-sp {
							display: none;
						}
					}

					&:nth-of-type(2) {
						display: none;

						@include is-sp {
							display: block;
						}
					}
				}

				.text {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-20%, -50%);

					@include is-sp {
						left: 30%;
					}

					.ttl {
						color: $color-text01;
						font-family: "santa_fe", sans-serif;
						font-weight: 400;
						line-height: normal;

						@include is-sp {
							line-height: 40px;
						}

						@include font-line(80);

						br {
							display: none;

							@include is-sp {
								display: block;
							}
						}

						span {
							color: $color-text-default;
							font-family: noto-sans-cjk-jp, sans-serif;
							font-weight: 700;
							padding: 0 0 0 20px;

							@include font-line(16);

							@include is-sp {
								padding: 0;
							}
						}
					}

					.desc {
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 400;
						color: #fff;

						@include font-line(16);
					}

					.btn {
						display: flex;
						justify-content: flex-end;

						@include is-sp {
							padding: 15px 0 0 0;
						}

						p {
							font-family: noto-sans-cjk-jp, sans-serif;
							font-weight: 700;
							padding: 0 10px 0 0;

							@include font-line(16);
						}
						img {
							width: 30px;
							height: auto;
						}
					}
				}
			}

			.cust_man {
				position: absolute;
				left: 20%;
				top: 40%;

				@include is-sp {
					top: auto;
					order: 3;
					left: 0;
					bottom: -10vw;
				}

				@include is-max(375px) {
					bottom: -13vw;
				}

				img {
					width: 300px;

					@include is-sp {
						width: 154px;
					}
				}
			}
		}
	}
}
