.sect_2 {
	padding: 85px 0 0 0;
	position: relative;

	@include is-sp {
		padding: 40px 0 0 0;
	}

	.l-wrap {
		max-width: 1185px;
		margin: 0 auto;
		width: 100%;
		position: relative;

		.front_content {
			position: relative;

			.swirl {
				position: absolute;
				top: unset;
				left: 50%;
				transform: translate(-50%, 15%);
				z-index: -1;
				width: 80%;

				@include is-max(1000px) {
					top: 10vw;
					width: 85%;
				}

				@include is-sp {
					display: none;
				}

				@include is-max(768px) {
					top: 27vw;
				}
			}

			.swirl_sp {
				position: absolute;
				top: 0;
				left: 0;
				display: none;
				z-index: -1;

				@include is-sp {
					display: block;
					top: 18%;
					width: 85%;
				}

				@include is-max(500px) {
					top: 18%;
				}

				@include is-max(450px) {
					top: 18.5%;
				}

				@include is-max(430px) {
					top: 19%;
				}

				@include is-max(401px) {
					top: 19.9%;
				}

				@include is-max(375px) {
					top: 20.4%;
				}

				@include is-max(325px) {
					top: 22%;
				}
			}
		}
	}

	&__row_1 {
		display: flex;
		padding: 0 40px;
		flex-wrap: wrap;
		position: relative;

		@include is-sp {
			padding: 0;
		}

		.item-1 {
			width: 45%;
			position: relative;

			@include is-max(768px) {
				width: 100%;
			}

			@include is-between(1050px, 769px) {
				width: 70%;
			}

			@include is-sp {
				width: 100%;
				order: 2;
				padding: 75px 0 0 0;
				left: -45px;
				position: relative;
			}

			.bg_img {
				position: relative;

				@include is-sp {
					width: 100%;
				}

				.bg {
					width: 100%;
					@include is-sp {
						display: none;
					}
				}

				.bg_sp {
					display: none;

					@include is-sp {
						display: block;
					}

					@include is-max(750px) {
						width: 100%;
					}

					@include is-max(450px) {
						width: 100%;
					}
				}
			}

			.woman {
				position: absolute;
				top: -10px;
				left: 30px;

				@include is-max(768px) {
					top: 20%;
				}

				@include is-max(750px) {
					width: 30%;
					top: 40%;
				}

				@include is-max(1050px) {
					top: unset;
					bottom: 10px;
				}
			}

			.text {
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(0%, -50%);

				@include is-sp {
					top: 50%;
					left: 40%;
					transform: translate(-10%, -50%);
				}

				@include is-max(425px) {
					left: 45%;
				}

				.ttl {
					color: $color-text01;
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					line-height: normal;

					@include font-line(34);

					@include is-max(425px) {
						font-size: 7vw;
					}
				}
			}
		}
		.item-2 {
			width: 50%;
			display: flex;
			align-items: center;
			margin-left: 35px;

			@include is-max(768px) {
				width: 100%;
				padding-top: 35px;
			}

			@include is-between(1050px, 769px) {
				width: 100%;
				padding-top: 35px;
			}

			@include is-sp {
				width: 100%;
				margin: 0;
				flex-wrap: wrap;
				justify-content: center;
				order: 1;
			}

			.text {
				padding: 0 0 0 20px;

				@include is-sp {
					padding: 0;
				}

				.message {
					color: $color-text01;
					font-family: "santa_fe", sans-serif;
					font-weight: 400;
					line-height: normal;

					@include font-line(80);

					@include is-max(1200px) {
						font-size: 6.5vw;
					}

					@include is-sp {
						font-size: 23.5vw;
					}

					span {
						color: $color-text-default;
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 700;
						padding: 0 0 0 20px;

						@include font-line(16);
					}
				}

				.desc {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 400;
					text-align: justify;
					padding: 30px 0 0 0;

					@include font-line(16);
				}
			}
		}
	}

	&__row_2 {
		padding: 15px 0 0 0;
		position: relative;

		@include is-max(1050px) {
			padding: 30px 0 0 0;
		}

		.l-wrap {
			@include is-max(1200px) {
				padding-left: 20px;
				padding-right: 20px;
			}

			@include is-sp {
				padding-left: 0;
				padding-right: 0;
			}
		}

		&--content {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			.row-1 {
				display: flex;
				align-items: flex-end;
				width: 25%;

				@include is-max(768px) {
					width: 49%;
					order: 1;
					justify-content: flex-end;
				}

				@include is-max(1050px) {
					width: 20%;
				}

				@include is-max(920px) {
					width: 100%;
					order: 1;
					padding-bottom: 20px;
					justify-content: flex-end;
					align-items: unset;
				}

				@include is-sp {
					align-items: initial;
					margin-left: auto;
					padding: 50px 0;
					width: 100%;
					display: block;

					img {
						display: block;
						margin-left: auto;
					}
				}
			}

			.row-2 {
				width: 50%;
				position: relative;
				text-align: center;

				@include is-max(768px) {
					width: 100%;
					order: 3;
					padding: 30px 0 0 0;
				}

				@include is-max(980px) {
					width: 50%;
				}

				@include is-max(920px) {
					width: 100%;
					order: 2;

					.row_bg {
						margin-left: auto;
						margin-right: auto;
						display: block;
					}
				}

				@include is-sp {
					width: 100%;
					order: 2;
				}

				img {
					&:first-child {
						@include is-sp {
							display: none;
						}
					}

					&:nth-of-type(2) {
						display: none;

						@include is-sp {
							display: block;
							width: 80%;
							margin-left: auto;
							margin-right: auto;
						}

						@include is-max(480px) {
							width: 100%;
						}
					}
				}

				.text {
					position: absolute;
					top: 50%;
					left: 30%;
					transform: translate(-20%, -50%);

					@include is-max(1035px) {
						left: 27%;
						top: 48%;
					}

					@include is-max(920px) {
						left: 50%;
						transform: translate(-50%, -50%);
					}

					@include is-sp {
						left: 30%;
						transform: translate(-20%, -50%);
					}

					@include is-max(380px) {
						left: 20%;
						transform: translate(-10%, -50%);
					}

					@include is-max(320px) {
						left: 15%;
						top: 50%;
						transform: translate(-9%, -50%);
					}

					.ttl {
						color: $color-text01;
						font-family: "santa_fe", sans-serif;
						font-weight: 400;
						line-height: normal;
						text-align: left;

						@include font-line(80);

						span {
							color: $color-text-default;
							font-family: noto-sans-cjk-jp, sans-serif;
							font-weight: 700;
							padding: 0 0 0 20px;
							text-align: left;

							@include font-line(16);
						}

						@include is-max(320px) {
							@include font-line(70);
						}
					}

					.desc {
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 400;
						color: #fff;
						text-align: left;

						@include font-line(16);

						@include is-max(370px) {
							font-size: 4vw;
						}
					}

					.btn {
						display: flex;
						justify-content: flex-end;

						@include is-sp {
							padding: 15px 0 0 0;
						}
						p {
							font-family: noto-sans-cjk-jp, sans-serif;
							font-weight: 700;
							padding: 0 10px 0 0;

							@include font-line(16);
						}
						.arrow {
							width: 30px;
							height: auto;
						}
					}
				}
			}

			.row-3 {
				width: 25%;

				.sp {
					display: none;

					@include is-max(920px) {
						display: unset;
					}
				}

				@include is-max(768px) {
					width: 49%;
					order: 2;
				}

				@include is-max(1050px) {
					width: 20%;
				}

				@include is-max(920px) {
					width: 100%;
					order: 3;
					padding-top: 20px;
					text-align: center;

					img {
						margin-right: 20px;

						@include is-sp {
							&:nth-of-type(1) {
								margin-right: auto;
								display: block;
							}
						}

						&:nth-of-type(2) {
							@include is-sp {
								display: none;
							}
						}
					}
				}

				@include is-sp {
					width: 100%;
					padding: 50px 0 0 0;
					order: 3;
				}
			}
		}

		&--content-2 {
			display: flex;
			padding: 60px 0 0 0;
			flex-wrap: wrap;

			@include is-max(780px) {
				padding: 0;
			}

			.row-1 {
				width: 280px;

				@include is-max(920px) {
					display: none;
				}

				@include is-max(751px) {
					display: block;
				}

				@include is-sp {
					width: 100%;
					order: 2;
					padding: 50px 0 0 0;

					img {
						margin-left: auto;
						display: block;
					}
				}
			}

			.row-2 {
				padding: 0 0 0 200px;
				position: relative;

				@include is-max(1075px) {
					margin-left: auto;
				}

				@include is-max(1050px) {
					padding: 0 0 0 100px;
				}

				@include is-max(940px) {
					padding: 0 0 0 80px;
				}

				@include is-max(920px) {
					padding: 0 0 0 50px;
					margin-left: auto;
					display: block;
				}

				@include is-max(885px) {
					width: 100%;
				}

				@include is-max(768px) {
					padding-top: 30px;
					width: 100%;
				}

				@include is-sp {
					order: 1;
					padding: 0;
				}

				.row-2_bg {
					width: 515px;

					@include is-max(885px) {
						margin-left: auto;
						display: block;
						padding-top: 30px;
					}

					&:nth-of-type(1) {
						@include is-sp {
							display: none;
						}
					}

					&:nth-of-type(2) {
						display: none;

						@include is-sp {
							display: block;
						}
					}

					@include is-sp {
						width: 80%;
						margin-right: auto;
						margin-left: auto;
						display: block;
					}

					@include is-max(480px) {
						width: 100%;
					}
				}

				.text {
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-20%, -50%);

					@include is-max(1050px) {
						left: 40%;
					}

					@include is-max(1035px) {
						left: 45%;
					}

					@include is-max(935px) {
						left: 40%;
					}

					@include is-max(885px) {
						left: 50%;
						transform: translate(-8%, -45%);
					}

					@include is-max(820px) {
						transform: translate(-13%, -50%);
					}

					@include is-max(770px) {
						top: 55%;
						transform: translate(-20%, -50%);
					}

					@include is-sp {
						left: 30%;
						transform: translate(-20%, -50%);
					}

					@include is-max(320px) {
						left: 15%;
						transform: translate(-9%, -50%);
					}

					.ttl {
						color: $color-text01;
						font-family: "santa_fe", sans-serif;
						font-weight: 400;
						line-height: normal;

						@include is-sp {
							line-height: 40px;
						}

						@include is-max(320px) {
							@include font-line(70);
						}

						@include font-line(80);

						br {
							display: none;

							@include is-sp {
								display: block;
							}
						}

						span {
							color: $color-text-default;
							font-family: noto-sans-cjk-jp, sans-serif;
							font-weight: 700;
							padding: 0 0 0 20px;

							@include font-line(16);

							@include is-sp {
								padding: 0;
							}
						}
					}

					.desc {
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 400;
						color: #fff;

						@include font-line(16);

						@include is-max(370px) {
							font-size: 4vw;
						}
					}

					.btn {
						display: flex;
						justify-content: flex-end;

						@include is-sp {
							padding: 15px 0 0 0;
						}

						p {
							font-family: noto-sans-cjk-jp, sans-serif;
							font-weight: 700;
							padding: 0 10px 0 0;

							@include font-line(16);
						}

						.want_btn {
							width: 30px;
							height: auto;
						}
					}
				}
			}

			.cust_man {
				position: absolute;
				left: 20%;
				bottom: 10%;

				@include is-max(935px) {
					bottom: -2vw;
					left: 10%;
				}

				@include is-max(820px) {
					left: 2vw;
				}

				@include is-max(780px) {
					left: 1vw;
				}

				@include is-max(768px) {
					bottom: 0;
					left: 0;
				}

				@include is-sp {
					top: auto;
					order: 3;
					left: 0;
					bottom: -5vw;
				}

				@include is-max(375px) {
					bottom: -13vw;
				}

				img {
					width: 300px;

					@include is-sp {
						width: 50% !important;
					}

					@include is-max(768px) {
						width: 70%;
					}
				}
			}
		}
	}
}
