.about {
	.l-wrap {
		.img_cloud {
			img {
				@include is-sp {
					display: none;
				}

				&:nth-of-type(1) {
					width: 180px;
					position: absolute;
					left: 0;
					top: 253px;
					z-index: -1;

					@include is-max(900px) {
						top: 45px;
						left: 20px;
					}
				}
				&:nth-of-type(2) {
					width: 98px;
					position: absolute;
					right: 20px;
					top: 374px;
					z-index: -1;
				}
			}
		}
	}
}

.about_message {
	padding: 0 0 60px 0;

	@include is-sp {
		padding: 40px 0;
	}

	&__container {
		max-width: 680px;
		margin: 0 auto;
		text-align: center;

		.about_logo {
			width: 245px;
		}

		p {
			font-family: ten-mincho, serif;
			font-weight: 500;
			padding-top: 30px;
			text-align: center;

			@include font-line(22);

			@include is-max(480px) {
				font-size: 5vw;
			}
		}
	}
}

.store_info {
	text-align: center;
	padding: 130px 0 80px 0;

	@include is-sp {
		padding: 20px 0 40px 0;
	}

	.l-wrap {
		padding-left: 20px;
		padding-right: 20px;
		position: relative;

		.store_cloud {
			@include is-sp {
				display: none;
			}

			&:nth-of-type(1) {
				width: 98px;
				position: absolute;
				top: 0;
				left: 180px;

				@include is-max(1200px) {
					left: 20px;
				}
				z-index: -1;
				animation: cloud_about1 3s ease-in infinite alternate both;
			}

			@keyframes cloud_about1 {
				0% {
					transform: translate(2px, 30px);
				}
				100% {
					transform: translate(-2px, 0px);
				}
			}

			&:nth-of-type(2) {
				width: 275px;
				position: absolute;
				right: 0;
				top: -30px;

				@include is-max(1200px) {
					right: 20px;
					top: -90px;
				}
				z-index: -1;
				animation: cloud_about 5s ease-in infinite alternate both;
			}

			@keyframes cloud_about {
				0% {
					transform: translate(2px, 30px);
				}
				100% {
					transform: translate(-2px, 0px);
				}
			}
		}
	}

	&__ttl {
		color: $color-text01;
		font-family: "santa_fe", sans-serif;
		font-weight: 400;
		line-height: normal;
		width: fit-content;
		margin: 0 auto;

		@include font-line(80);
	}

	&__sub {
		font-family: noto-sans-cjk-jp, sans-serif;
		font-weight: 700;

		@include font-line(16);
	}

	&__area {
		padding: 40px 0 0 0;
		max-width: 340px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@include is-sp {
			padding: 40px 0 0 0;
		}

		@include is-max(350px) {
			gap: 15px;
		}

		&--row_1 {
			width: 150px;

			&__area-ttl {
				background-color: $color-text01;
				display: flex;
				justify-content: space-around;
				padding: 20px 0;

				p {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					line-height: 1;
					padding-left: 15px;

					@include font-line(24);
				}

				img {
					width: 20px;
					height: auto;
				}
			}

			&__details {
				text-align: left;
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 400;
				padding: 20px 0 0 0;

				@include font-line(22);

				p {
					position: relative;
					transition: 1s ease-in-out;

					a {
						width: 100%;
						display: block;
						transition: 1s ease-in-out;
					}

					&:before {
						position: absolute;
						top: 0;
						left: 0;
						content: "";
						width: 0;
						height: 100%;
						transition: 0.5s ease-in-out;
						display: block;
					}

					&:hover {
						&::before {
							width: 100%;
							content: "";
							background: #ffdc64;
							display: block;
							z-index: -1;
							cursor: pointer;
							pointer-events: none;
						}
					}
				}
			}
		}

		&--row_2 {
			width: 150px;

			&__area-ttl {
				background-color: $color-text01;
				display: flex;
				justify-content: space-around;
				padding: 20px 0;

				p {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					line-height: 1;
					padding-left: 20px;

					@include font-line(24);
				}
				img {
					width: 20px;
					height: auto;
				}
			}

			&__details {
				text-align: left;
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 400;
				padding: 20px 0 0 0;

				@include font-line(22);

				p {
					position: relative;
					transition: 1s ease-in-out;

					a {
						width: 100%;
						display: block;
						transition: 1s ease-in-out;
					}

					&:before {
						position: absolute;
						top: 0;
						left: 0;
						content: "";
						width: 0;
						height: 100%;
						transition: 0.5s ease-in-out;
						display: block;
					}

					&:hover {
						&::before {
							width: 100%;
							content: "";
							background: #ffdc64;
							display: block;
							z-index: -1;
							cursor: pointer;
							pointer-events: none;
						}
					}
				}
			}
		}
	}

	&__stores {
		padding: 95px 0 0 0;
		text-align: left;

		&--container {
			max-width: 780px;
			margin: 0 auto;
			padding-bottom: 130px;

			@include is-sp {
				padding-bottom: 0;
			}

			.accordion {
				padding-bottom: 67px;

				&:last-child {
					padding-bottom: 0;

					@include is-sp {
						padding-bottom: 40px;
					}
				}

				@include is-sp {
					padding-bottom: 40px;
				}

				&__header-cont {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #fff;
					align-items: center;
					padding: 20px;
					position: relative;

					&:before {
						content: "";
						width: 0%;
						height: 100%;
						position: absolute;
						top: 0;
						left: 0;
						transition: 0.5s ease-in-out;
					}

					&:hover {
						&:before {
							width: 100%;
							background: #e55937;
							z-index: -1;
						}
					}

					@include is-sp {
						padding: 0 0 15px 0;
					}

					.ttl {
						color: #fff;
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 700;
						line-height: 1;

						@include font-line(22);

						@include is-sp {
							line-height: normal;
						}
					}

					.btn_read_more {
						display: flex;
						align-items: center;

						@include is-max(522px) {
							position: relative;
							bottom: -20px;
							left: -15px;
						}

						p {
							font-family: oswald, sans-serif;
							font-weight: 600;
							padding-right: 10px;
							line-height: 1;

							@include font-line(20);
						}

						img {
							width: 20px;
							height: auto;
							transform: rotate(180deg);
						}
					}
				}

				&__content {
					display: flex;
					justify-content: space-between;
					padding: 40px 20px;
					flex-wrap: wrap;

					@include is-sp {
						padding: 40px 0 0 0;
					}

					&--row_1 {
						width: 53%;

						@include is-sp {
							width: 100%;
						}

						.list {
							display: flex;
							flex-wrap: wrap;

							@include is-sp {
								width: 100%;
							}

							li {
								&:nth-child(odd) {
									width: 80px;
									display: flex;
									justify-content: space-between;
									color: $color-text01;
									font-family: noto-sans-cjk-jp, sans-serif;
									font-weight: 700;

									@include font-line(16);

									@include is-sp {
										width: 100%;
										justify-content: unset;
									}
								}

								&:nth-child(even) {
									width: calc(100% - 80px);
									padding-left: 20px;
									white-space: pre-line;
									font-family: noto-sans-cjk-jp, sans-serif;
									font-weight: 400;
									padding-bottom: 32px;

									@include font-line(18, 26);

									@include is-sp {
										width: 100%;
										padding-left: 0;
										padding-top: 10px;
										padding-bottom: 25px;
									}
								}
							}
						}
					}

					&--row_2 {
						width: 47%;

						@include is-sp {
							width: 100%;
						}

						iframe {
							max-width: 100%;
							max-height: 100%;
						}
					}

					&--row_3 {
						width: 100%;
						margin-top: -40px;

						@include is-max(800px) {
							margin-top: 0;
						}

						@include is-sp {
							margin-top: 0;
							padding: 20px 0 0 0;
						}

						.btn {
							display: flex;

							&__item-1 {
								background-color: #ffdc64;
								display: flex;
								width: 160px;
								padding: 10px 0;
								justify-content: center;
								align-items: center;

								@include is-sp {
									width: 100%;
								}

								img {
									width: 20px;
									height: auto;
								}

								p {
									color: $color-text02;
									font-family: noto-sans-cjk-jp, sans-serif;
									font-weight: 700;
									padding-left: 10px;
								}
							}

							&__item-2 {
								background-color: #000;
								display: flex;
								width: 150px;
								padding: 10px 0;
								justify-content: center;
								align-items: center;
								margin-left: 10px;

								@include is-sp {
									width: 100%;
								}

								img {
									width: 20px;
									height: auto;
								}

								p {
									color: #fff;
									font-family: noto-sans-cjk-jp, sans-serif;
									font-weight: 700;
									padding-left: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
