.about {
	.l-wrap {
		.img_cloud {
			img {
				&:nth-of-type(1) {
					width: 180px;
					position: absolute;
					left: 0;
					top: 253px;
				}
				&:nth-of-type(2) {
					width: 98px;
					position: absolute;
					right: 0;
					top: 374px;
				}

				@include is-sp {
					display: none;
				}
			}
		}
	}
}

.about_message {
	padding: 0 0 100px 0;

	@include is-sp {
		padding: 40px 0;
	}

	&__container {
		max-width: 680px;
		margin: 0 auto;
		text-align: center;

		.about_logo {
			width: 245px;
		}

		p {
			font-family: ten-mincho, serif;
			font-weight: 700;
			padding-top: 30px;

			@include font-line(22);
		}
	}
}

.store_info {
	text-align: center;
	padding: 130px 0 80px 0;

	@include is-sp {
		padding: 20px 0 40px 0;
	}

	.l-wrap {
		padding-left: 20px;
		padding-right: 20px;
		position: relative;

		.store_cloud {
			&:nth-of-type(1) {
				width: 98px;
				position: absolute;
				top: 0;
				left: 180px;

				@include is-max(1200px) {
					left: 20px;
				}
			}

			&:nth-of-type(2) {
				width: 275px;
				position: absolute;
				right: 0;
				top: -30px;

				@include is-max(1200px) {
					right: 20px;
				}
			}

			@include is-sp {
				display: none;
			}
		}
	}

	&__ttl {
		color: $color-text01;
		font-family: "santa_fe", sans-serif;
		font-weight: 400;
		line-height: normal;

		@include font-line(80);
	}

	&__sub {
		font-family: noto-sans-cjk-jp, sans-serif;
		font-weight: 700;

		@include font-line(16);
	}

	&__area {
		padding: 40px 0 25px 0;
		max-width: 340px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		@include is-sp {
			padding: 40px 0 0 0;
		}

		@include is-max(350px) {
			gap: 15px;
		}

		&--row_1 {
			width: 150px;

			&__area-ttl {
				background-color: $color-text01;
				display: flex;
				justify-content: space-around;
				padding: 20px 0;

				p {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					line-height: 1;

					@include font-line(24);
				}
				img {
					width: 20px;
					height: auto;
				}
			}

			&__details {
				text-align: left;
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 400;
				padding: 20px 0 0 0;

				@include font-line(22);
			}
		}

		&--row_2 {
			width: 150px;

			&__area-ttl {
				background-color: $color-text01;
				display: flex;
				justify-content: space-around;
				padding: 20px 0;

				p {
					font-family: noto-sans-cjk-jp, sans-serif;
					font-weight: 700;
					line-height: 1;

					@include font-line(24);
				}
				img {
					width: 20px;
					height: auto;
				}
			}

			&__details {
				text-align: left;
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 400;
				padding: 20px 0 0 0;

				@include font-line(22);
			}
		}
	}

	&__stores {
		padding: 95px 0 0 0;
		text-align: left;

		&--container {
			max-width: 780px;
			margin: 0 auto;
			padding-bottom: 130px;

			@include is-sp {
				padding-bottom: 0;
			}

			.accordion {
				padding-bottom: 135px;

				&:last-child {
					padding-bottom: 0;
				}

				@include is-sp {
					padding-bottom: 0;
				}

				&__header-cont {
					display: flex;
					justify-content: space-between;
					border-bottom: 1px solid #fff;
					align-items: center;
					padding: 20px;

					@include is-sp {
						padding: 0 0 15px 0;
					}

					.ttl {
						color: #fff;
						font-family: noto-sans-cjk-jp, sans-serif;
						font-weight: 700;
						line-height: 1;

						@include font-line(22);

						@include is-sp {
							line-height: normal;
						}
					}

					.btn_read_more {
						display: flex;
						align-items: center;

						@include is-max(522px) {
							position: relative;
							bottom: -20px;
							left: -15px;
						}

						p {
							font-family: oswald, sans-serif;
							font-weight: 600;
							padding-right: 10px;
							line-height: 1;

							@include font-line(20);
						}

						img {
							width: 20px;
							height: auto;
						}
					}
				}

				&__content {
					display: flex;
					justify-content: space-between;
					padding: 40px 20px;
					flex-wrap: wrap;

					@include is-sp {
						padding: 40px 0;
					}

					&--row_1 {
						width: 53%;

						@include is-sp {
							width: 100%;
						}

						.list {
							display: flex;
							flex-wrap: wrap;

							@include is-sp {
								width: 100%;
							}

							li {
								&:nth-child(odd) {
									width: 80px;
									display: flex;
									justify-content: space-between;
									color: $color-text01;
									font-family: noto-sans-cjk-jp, sans-serif;
									font-weight: 700;

									@include font-line(16);

									@include is-sp {
										width: 100%;
										justify-content: unset;
									}
								}

								&:nth-child(even) {
									width: calc(100% - 80px);
									padding-left: 20px;
									white-space: pre-line;
									font-family: noto-sans-cjk-jp, sans-serif;
									font-weight: 400;
									padding-bottom: 32px;

									@include font-line(18, 26);

									@include is-sp {
										width: 100%;
										padding-left: 0;
										padding-top: 20px;
									}
								}
							}
						}
					}

					&--row_2 {
						width: 47%;

						@include is-sp {
							width: 100%;
						}

						img {
							width: 100%;
							height: 100%;
							object-fit: cover;
						}
					}

					&--row_3 {
						width: 100%;
						margin-top: -48px;

						@include is-max(768px) {
							margin-top: 0;
						}

						@include is-sp {
							margin-top: 0;
							padding: 20px 0 0 0;
						}

						.btn {
							display: flex;

							&__item-1 {
								background-color: #ffdc64;
								display: flex;
								width: 160px;
								padding: 10px 0;
								justify-content: center;
								align-items: center;

								@include is-sp {
									width: 100%;
								}

								img {
									width: 20px;
									height: auto;
								}

								p {
									color: $color-text02;
									font-family: noto-sans-cjk-jp, sans-serif;
									font-weight: 700;
									padding-left: 10px;
								}
							}

							&__item-2 {
								background-color: #000;
								display: flex;
								width: 150px;
								padding: 10px 0;
								justify-content: center;
								align-items: center;
								margin-left: 10px;

								@include is-sp {
									width: 100%;
								}

								img {
									width: 20px;
									height: auto;
								}

								p {
									color: #fff;
									font-family: noto-sans-cjk-jp, sans-serif;
									font-weight: 700;
									padding-left: 10px;
								}
							}
						}
					}
				}
			}
		}
	}
}
