.page_album {
	overflow: hidden;

	.l-wrap {
		position: relative;
		.album_img {
			img {
				&:nth-of-type(1) {
					width: 180px;
					position: absolute;
					top: 220px;
					left: 0;

					-webkit-animation: cloud-page1 25s linear infinite;
					-moz-animation: cloud-page1 25s linear infinite;
					animation: cloud-page1 25s linear infinite;
					animation-delay: 1000ms;
				}

				@keyframes cloud-page1 {
					0% {
						margin-left: 0%;
					}
					100% {
						margin-left: 100%;
					}
				}

				&:nth-of-type(2) {
					width: 98px;
					position: absolute;
					top: 470px;
					left: 80px;
					animation: al-02 35s linear infinite;
				}

				@keyframes al-02 {
					0% {
						left: -50%;
					}
					100% {
						left: 150%;
					}
				}

				&:nth-of-type(3) {
					width: 98px;
					position: absolute;
					right: 0;
					top: 380px;
					animation: al-03 35s linear infinite;
				}

				@keyframes al-03 {
					0% {
						right: -50%;
					}
					100% {
						right: 150%;
					}
				}
			}

			@include is-sp {
				display: none;
			}
		}
	}

	&__container {
		padding: 160px 0 0 0;
		max-width: 700px;
		margin: 10px auto;

		@include is-sp {
			padding: 90px 20px 40px 20px;
		}

		.content {
			padding: 0 30px 40px 30px;
			position: relative;

			@include is-max(900px) {
				padding: 0 60px 40px 60px;
			}

			@include is-sp {
				padding: 0;
			}

			.buttons {
				position: relative;
				max-width: 155px;
				margin: 0 auto;
				padding: 75px 0 0 0;
			}

			.swiper {
				cursor: pointer;
			}

			.swiper-slide {
				width: 680px !important;
				height: 570px;
				object-fit: cover;
				outline: 4px solid #fff;

				@include is-sp {
					height: 320px;
				}

				@include is-max(380px) {
					height: 300px;
				}
			}

			.swiper-pagination-fraction {
				bottom: -55px;
				color: $color-text01;

				@include font-line(24);
			}

			.swiper-button-prev {
				left: 0;
			}

			.swiper-button-next {
				right: 0;
			}

			.swiper-pagination-current {
				color: #fff;
				font-family: "Helvetica", sans-serif;
				font-weight: 400;
				line-height: normal;

				@include font-line(33);
			}

			.swiper-pagination-total {
				color: $color-text01;
				font-family: "Helvetica", sans-serif;
				font-weight: 400;
				line-height: normal;

				@include font-line(24);
			}

			.swiper-button-next:after,
			.swiper-button-prev:after {
				font-size: 20px;
				color: #fff;
			}

			.swiper-button-next.swiper-button-disabled,
			.swiper-button-prev.swiper-button-disabled {
				opacity: 1;
			}

			.swiper-pagination,
			.swiper-pagination-fraction,
			.swiper-pagination-horizontal {
				display: inline-block;
				vertical-align: middle;
				line-height: 1;
				letter-spacing: normal;
			}

			.pad {
				margin: 50px 0;
			}
		}
	}

	&__gallery {
		padding-bottom: 100px;

		.gallery-thumbs {
			padding-bottom: 100px;
		}

		&--content {
			display: flex;
			flex-wrap: wrap;

			&:last-child {
				padding-bottom: 190px;

				@include is-sp {
					padding-bottom: 0px;
				}
			}

			.item {
				width: calc(100% / 10) !important;
				padding: 5px;

				&:nth-child(4n) {
					margin-right: 0;
				}

				@include is-max(900px) {
					width: calc(100% / 5) !important;
				}

				@include is-sp {
					width: calc(100% / 2) !important;
				}

				img {
					border: 4px solid #fff;
					width: 100%;
					height: 96px;
					object-fit: cover;
					cursor: pointer;
					transition: 0.3s ease-in-out;
				}

				&:hover {
					img {
						transform: scale(0.95);
					}
				}
			}
		}
	}
}
