.page_album {
	.l-wrap {
		position: relative;
		.album_img {
			img {
				&:nth-of-type(1) {
					width: 180px;
					position: absolute;
					top: 220px;
					left: 0;
				}
				&:nth-of-type(2) {
					width: 98px;
					position: absolute;
					top: 50%;
					left: 80px;
				}
				&:nth-of-type(3) {
					width: 98px;
					position: absolute;
					right: 0;
					top: 380px;
				}
			}

			@include is-sp {
				display: none;
			}
		}
	}
	&__container {
		padding: 160px 0px 140px 0px;
		max-width: 700px;
		margin: 10px auto;

		@include is-sp {
			padding: 90px 0 40px 0;
		}

		.content {
			padding: 0 70px 65px 70px;
			position: relative;

			@include is-sp {
				padding: 0;
			}

			.buttons {
				position: relative;
				max-width: 155px;
				margin: 0 auto;
				padding: 75px 0 0 0;
			}

			.swiper-slide {
				width: 680px !important;
			}

			.swiper-pagination-fraction {
				bottom: -55px;
				color: $color-text01;
			}

			.swiper-button-prev {
				left: 0;
			}

			.swiper-button-next {
				right: 0;
			}

			.swiper-pagination-current {
				color: #fff;
				font-family: "Helvetica", sans-serif;
				font-weight: 400;
				line-height: normal;

				@include font-line(33);
			}

			.swiper-pagination-total {
				color: $color-text01;
				font-family: "Helvetica", sans-serif;
				font-weight: 400;
				line-height: normal;

				@include font-line(24);
			}

			.swiper-button-next:after,
			.swiper-button-prev:after {
				font-size: 20px;
				color: #fff;
			}

			.swiper-button-next.swiper-button-disabled,
			.swiper-button-prev.swiper-button-disabled {
				opacity: 1;
			}

			.swiper-pagination,
			.swiper-pagination-fraction,
			.swiper-pagination-horizontal {
				display: inline-block;
				vertical-align: middle;
			}

			@include is-sp {
				padding-bottom: 90px;
			}

			.pad {
				margin: 50px 0;
			}
		}
	}
}
