.page_interview {
	text-align: center;
	overflow: hidden;

	.l-wrap {
		padding-left: 20px;
		padding-right: 20px;
	}

	&--int {
		position: relative;

		&:nth-of-type(even) {
			padding: 120px 0;

			@include is-max(1000px) {
				padding: 60px 0;
			}

			@include is-sp {
				padding: 100px 0 0 0;
			}
		}

		&:nth-of-type(even) > &__content {
			flex-direction: row-reverse;

			.row_2 {
				padding-left: 0;
				padding-right: 60px;

				@include is-max(768px) {
					padding-right: 20px;
				}

				@include is-sp {
					padding-right: 0;
				}
			}
		}

		&:nth-of-type(odd) {
			@include is-sp {
				padding-top: 90px;
			}
			.inter_cloud {
				width: 275px;
				position: absolute;
				right: -100px;
				top: 0;

				@include is-max(800px) {
					right: 0;
				}

				@include is-sp {
					display: none;
				}
			}

			.cloud_3 {
				width: 98px;
				position: absolute;
				top: 30px;
				left: 45px;

				@include is-sp {
					display: none;
				}
			}

			.inter_bird_3 {
				width: 240px;
				position: absolute;
				right: -60px;
				top: -35px;

				@include is-sp {
					display: none;
				}
			}
		}

		&:nth-of-type(5) {
			padding-bottom: 245px;

			@include is-max(768px) {
				padding-bottom: 120px;
			}

			@include is-sp {
				padding-bottom: 70px;
			}
		}
	}

	&__content {
		max-width: 1020px;
		margin: 0 auto;
		padding-bottom: 150px;
		position: relative;

		@include is-sp {
			padding-bottom: 40px;
		}

		.cloud_1 {
			position: relative;
			width: 98px;
			right: 45px;
			margin-left: auto;
			display: block;
			padding-top: 95px;
			padding-bottom: 55px;

			@include is-sp {
				display: none;
			}
		}
	}

	&--int {
		position: relative;

		.ttl-div {
			background-color: rgba(235, 110, 82, 0.7);
			width: fit-content;
			margin: 0 auto;
			padding: 0 30px;
		}

		.cloud_2 {
			width: 180px;
			position: absolute;
			left: 0;
			top: 50px;

			@include is-sp {
				display: none;
			}
		}

		.inter_cloud {
			width: 98px;
			position: absolute;
			left: 220px;
			top: 155px;

			@include is-max(768px) {
				left: 100px;
			}

			@include is-sp {
				display: none;
			}
		}

		.inter_cloud-3 {
			width: 275px;
			position: absolute;
			right: 0;
			top: 0;

			@include is-max(768px) {
				left: 100px;
			}

			@include is-sp {
				display: none;
			}
		}

		.inter_sun {
			max-width: 1000px;
			height: 90px;
			position: relative;
			right: -35px;
			top: 110px;
			margin-left: auto;
			z-index: -1;

			@include is-max(800px) {
				width: 78.13%;
				left: -50%;
				bottom: 30%;
			}

			@include is-sp {
				display: none;
			}

			.sun_cloud_1 {
				width: 150px;
				position: absolute;
				top: 15px;
				right: 200px;
			}

			.sun {
				width: 190px;
				position: absolute;
				right: 0;
				top: 0px;

				@include is-sp {
					width: 40%;
					left: -10%;
				}

				@include is-max(430px) {
					width: 35%;
					bottom: -5%;
				}
			}

			.cloud_9 {
				width: 75px;
				position: absolute;
				top: 20px;
				right: -26px;
				z-index: -1;
			}

			.cloud_3 {
				width: 98px;
				position: absolute;
				top: 45px;
				right: -15px;
			}
		}

		.inter_bird-1 {
			width: 255px;
			position: absolute;
			top: 97px;
			left: 0;

			@include is-sp {
				display: none;
			}
		}

		.inter_bird-2 {
			width: 200px;
			position: absolute;
			top: 160px;
			left: -75px;

			@include is-sp {
				display: none;
			}
		}

		.inter_bird-3 {
			width: 30px;
			position: absolute;
			top: 245px;
			left: -13px;

			@include is-sp {
				display: none;
			}
		}

		.inter_bird_2 {
			width: 160px;
			position: absolute;
			top: 160px;
			right: 0;

			@include is-sp {
				display: none;
			}
		}

		&__content {
			display: flex;
			padding-top: 65px;
			align-items: center;

			@include is-max(881px) {
				align-items: unset;
			}

			@include is-sp {
				flex-wrap: wrap;
				padding-top: 25px;
			}

			.row_1 {
				width: 50%;

				img {
					width: 100%;
					height: auto;
					object-fit: cover;
				}
				@include is-sp {
					width: 100%;
				}
			}

			.row_2 {
				width: 50%;
				text-align: left;
				padding-left: 60px;
				// padding-top: 40px;
				// padding-bottom: 18px;

				@include is-max(768px) {
					padding-left: 20px;
					padding-top: 0;
					padding-bottom: 0;
				}

				@include is-sp {
					width: 100%;
					padding-left: 0;
					padding-top: 30px;
				}
			}
		}
	}
}
