.page_message {
	padding-bottom: 150px;

	@include is-sp {
		padding-bottom: 40px;
	}
	.l-wrap {
		position: relative;

		.imgs {
			img {
				&:nth-of-type(1) {
					width: 98px;
					position: absolute;
					top: 80px;
					right: 20px;

					z-index: -1;
				}

				@include is-sp {
					display: none;
				}
			}
		}
		.content {
			padding: 140px 0 75px 0;

			@include is-max(1200px) {
				padding: 140px 20px 75px 20px;
			}

			@include is-sp {
				padding: 0 0 65px 0;
			}

			.cont_img {
				width: 180px;
				position: relative;
				left: -40px;
				top: 120px;
				z-index: -1;
				-webkit-animation: animateCloudmessage 40s linear infinite;
				-moz-animation: animateCloudmessage 40s linear infinite;
				animation: animateCloudmessage 40s linear infinite;

				@include is-sp {
					display: none;
				}

				@keyframes animateCloudmessage {
					0% {
						left: 0%;
					}

					100% {
						left: 150%;
					}
				}
			}
		}
	}

	&__container {
		display: flex;
		max-width: 915px;
		margin: 0 auto;
		flex-wrap: wrap;
		position: relative;

		.cloud_msg {
			width: 98px;
			position: absolute;
			right: 0;
			bottom: -30px;
			z-index: -1;
			-webkit-animation: animateCloudmsg2 35s linear infinite;
			-moz-animation: animateCloudmsg2 35s linear infinite;
			animation: animateCloudmsg2 35s linear infinite;

			@include is-sp {
				display: none;
			}

			@keyframes animateCloudmsg2 {
				0% {
					margin-right: 0;
				}
				100% {
					margin-right: 100%;
				}
			}
		}

		.row-1 {
			width: 320px;

			img {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}

			@include is-sp {
				width: 100%;
			}
		}

		.row-2 {
			width: calc(100% - 320px);
			background-color: rgba(235, 110, 82, 0.7);
			padding: 10px;

			@include is-sp {
				width: 100%;
				padding: 35px 0 0 0;
			}

			p {
				font-family: noto-sans-cjk-jp, sans-serif;
				font-weight: 400;
				text-align: justify;

				@include font-line(16, 26);
			}
		}
	}
}
