.page_message {
	padding-bottom: 150px;

	@include is-sp {
		padding-bottom: 40px;
	}
	.l-wrap {
		position: relative;
		padding: 0 20px;

		.imgs {
			img {
				&:nth-of-type(1) {
					width: 98px;
					position: absolute;
					top: 80px;
					right: 20px;
				}

				@include is-sp {
					display: none;
				}
			}
		}
		.content {
			padding: 140px 0 75px 0;

			@include is-max(1200px) {
				padding: 140px 20px 75px 20px;
			}

			@include is-sp {
				padding: 0 0 65px 0;
			}

			.cont_img {
				width: 180px;
				position: relative;
				left: -40px;
				top: 120px;
				z-index: -1;

				@include is-sp {
					display: none;
				}
			}
		}

		.content_2 {
			&__ttl {
				color: $color-text01;
				font-weight: 700;

				@include font-line(24, 40);

				@include is-max(380px) {
					font-size: 5.9vw;
				}
			}
			&__desc {
				font-weight: 400;
				white-space: pre-line;

				@include font-line(16, 26);

				span {
					display: flex;
					justify-content: flex-end;
				}
			}
			&--mt_114 {
				margin-top: 114px;
				margin-bottom: 100px;
			}
		}
	}

	&__container {
		display: flex;
		max-width: 915px;
		margin: 0 auto;
		flex-wrap: wrap;
		position: relative;
		align-items: center;

		.cloud_msg {
			width: 98px;
			position: absolute;
			right: 0;
			bottom: -30px;

			@include is-sp {
				display: none;
			}
		}

		.row-1 {
			width: 310px;

			img {
				margin-left: auto;
				margin-right: auto;
				display: block;
			}

			@include is-sp {
				width: 100%;
			}
		}

		.row-2 {
			width: calc(100% - 310px);
			background-color: rgba(235, 110, 82, 0.7);
			// backdrop-filter: blur(10px);
			padding: 0 30px;

			@include is-sp {
				width: 100%;
				padding: 35px 0 0 0;
			}

			&__ttl {
				color: $color-text01;
				font-weight: 700;
				text-align: justify;

				@include font-line(24, 40);

				@include is-max(380px) {
					font-size: 6.3vw;
				}
			}

			&__desc {
				font-weight: 400;
				text-align: justify;
				white-space: pre-line;

				@include font-line(16, 24);
			}
		}
	}
}
