.thanks_cont {
	text-align: center;
	padding-top: 100px;
	padding-bottom: 90px;

	h3 {
		color: $color-text01;
		font-weight: 700;
		line-height: 1;
		font-family: dnp-shuei-mgothic-std, sans-serif;

		@include font-line(40);
	}

	.text_1 {
		color: $color-text03;
		padding-top: 50px;
	}

	.text_2 {
		color: $color-text03;
		padding-top: 30px;
		padding-bottom: 100px;
	}
}
